<link rel="stylesheet" href="properties_styles.css">
<div class="container">
    <img src="https://image.shutterstock.com/image-photo/mountains-under-mist-morning-amazing-260nw-1725825019.jpg" alt="placeholder image">
    <p>Clods clogged the cot or cot clogged by cogs clocked clock by clot ?
        Clods clogged the cot or cot clogged by cogs clocked clock by clot ?
        Clods clogged the cot or cot clogged by cogs clocked clock by clot ?
        Clods clogged the cot or cot clogged by cogs clocked clock by clot ?
        Clods clogged the cot or cot clogged by cogs clocked clock by clot ?
        Clods clogged the cot or cot clogged by cogs clocked clock by clot ?
        Clods clogged the cot or cot clogged by cogs clocked clock by clot ?
    </p>
    <p class="clear">Shaman sam shammed shyam or shyam shammed shaman sam
        Shaman sam shammed shyam or shyam shammed shaman sam
        Shaman sam shammed shyam or shyam shammed shaman sam
        Shaman sam shammed shyam or shyam shammed shaman sam
        Shaman sam shammed shyam or shyam shammed shaman sam
        Shaman sam shammed shyam or shyam shammed shaman sam
        Shaman sam shammed shyam or shyam shammed shaman sam
        Shaman sam shammed shyam or shyam shammed shaman sam
        Shaman sam shammed shyam or shyam shammed shaman sam
        Shaman sam shammed shyam or shyam shammed shaman sam
        Shaman sam shammed shyam or shyam shammed shaman sam
        Shaman sam shammed shyam or shyam shammed shaman sam
        Shaman sam shammed shyam or shyam shammed shaman sam
        Shaman sam shammed shyam or shyam shammed shaman sam
    </p>
</div>